@charset "UTF-8";
/**
 * Content
 * @authors Duhe (lucciv@163.com)
 * @date    2017-04-25 09:19:55
 * @version Sublime Text 3
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   /*font-size: 100%;*/
   font: inherit;
   vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   width: 100%;
   line-height: 1;
}
ol, ul {
   list-style: none;
}
blockquote, q {
   quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
a{
  text-decoration: none;
}
/*END css reset*/

.content{
    width: 1000px;
    /*background-color: #ffdfe5;*/
    margin: 0 auto;
}

/*Tab*/
.demo
{
    overflow: hidden;

    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.demoTitle
{
    position: relative;

    width: 100%;
    height: 40px;

    background-color: skyblue;
}
/* tabbtn */
.tabbtn
{
    position: absolute;
    position: relative;
    top: 0;
    right: 0;

    height: 40px;
}
.tabbtn li
{
    position: relative;

    float: left;
}
/*Tab-Nav*/
.tabbtn li .tabTitleText
{
    font-size: 16px;
    line-height: 40px;

    display: block;
    float: left;

    margin: 0 20px;

    cursor: pointer;

    color: #fff;
}
/*Tabµ±Ç°×´Ì¬*/
.tabbtn li.current .tabTitleText
{
    color: yellow;
}
/* tabcon */
.tabcon
{
    position: relative;

    overflow: hidden;
}
/*cut*/
.cutfh
{
    display: inline-block;
    float: left;

    width: 2px;
    height: 14px;
    margin-top: 13px;

    background-color: #fff;
}
/* sublist */
.sublist p
{
    font-size: 20px;
    font-weight: bold;

    padding-top: 30px;

    text-align: center;

    color: blue;
}
/*END Tab*/