@charset "UTF-8";
/*css reset*/
body{margin: 0 auto; font-family: "Microsoft YaHei UI","Î¢ÈíÑÅºÚ",\5FAE\8F6F\96C5\9ED1;font-size: 14px;}
ul,li{margin: 0;padding: 0;list-style: none;}
img{border:none;display: inline-block;}
a,a:link,a:visited,a:hover{text-decoration: none;color: #333;font-family: "Microsoft YaHei UI","Î¢ÈíÑÅºÚ",\5FAE\8F6F\96C5\9ED1;font-size: 14px;}
.fl{float: left;}
.fr{float: right;}
/*END css reset*/
.content{
    width: 100%;
    overflow: hidden;
}
.govmain{
    width: 800px;
    overflow: hidden;
    padding: 0 100px;
    margin: 0 auto;
    background-color: #ccc;
}
.contentT1{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.contentT2{
    width: 100%;
    color: #fff;
    padding: 30px 0 10px 0;
    font-size: 20px;
    float: left;
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
}
/*== Gov list ==*/
.govListBox{float: left;overflow: hidden;width: 100%;}
.govListBox li{position: relative;padding-top: 10px;padding-left: 14px;}
.govListDot{position: absolute;top: 18px;left: 0;display: block;width: 4px;height: 4px;background-color: #666;}
.govListTime{position: absolute;top: 10px;right: 0;}
.govListBox li a:hover{ text-decoration: underline; }
/*== ENDGov list ==*/

/*== Gov TitleBox ==*/
.govTitleBox{float: left; overflow: hidden; width: 100%; height:30px; border-bottom: 1px solid #fff; margin-bottom: 20px; position: relative;}
.govTitleText{font-size: 18px; font-weight: bold; padding: 0 10px; color: #000;}
.govTitleMore{position: absolute; top: 6px; right: 10px;}
/*== ENDGov TitleBox ==*/

/*== Gov Link ==*/
.govLinkBox{margin-left: 10px;min-width: 500px;}
.govLinkBox li{float: left; overflow: hidden; margin-top: 13px;margin-left: 20px; }
.govLinkBox a{position: relative; color: #333333; font-size: 14px;position: relative;display: block;padding-right: 20px;}
.govLinkLine{display: inline-block; width: 1px; height: 16px; background-color: #000;position: absolute;top: 3px;right: 0;}
/*== ENDGov Link ==*/

/*== Gov PicBox ==*/
.govPicBox
{
    float: left;
    overflow: hidden;
    width: 300px;
    padding: 25px;
    border: 3px solid #fff;
}
/*a link*/
.govPicL
{
    display: block;
    float: left;
    width: 100px;
    height: 100px;
    margin: 0 25px;
    margin-bottom: 30px;
    background-color: #dbdbdb;
}
/*image*/
.govPicBox img
{
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
    background-color: #fff;
}
/*text*/
.govPicT
{
    display: block;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
/*== ENDGov PicBox ==*/

/*== Gov CurrentBox ==*/
.currentBox{
  width: 100%;
  overflow: hidden;
  float: left;
}
.currentBox a{
    color: red;
}
/*== ENDGov CurrentBox ==*/