@charset "UTF-8";

/*css reset*/
body { margin: 0 auto; font-family: "Microsoft YaHei UI", "微软雅黑", \5FAE\8F6F\96C5\9ED1; font-size: 14px; }
ul, li, p, a { margin: 0; padding: 0; list-style: none; }
img { border: none; display: inline-block; }
a, a:link, a:visited, a:hover { text-decoration: none; color: #333; font-family: "Microsoft YaHei UI", "微软雅黑", \5FAE\8F6F\96C5\9ED1; font-size: 14px; }
.fl { float: left; }
.fr { float: right; }
/*END css reset*/

/*my css reset*/
iframe { margin: 0; padding: 0; display: block; }
h1, h2, h3, h4, h5, p, a, span { margin: 0; padding: 0; font-weight: normal; font-size: 14px; color: #555; }
.mbNo { margin-bottom: 0; }
.mb1 { margin-bottom: 10px; }
.mb2 { margin-bottom: 20px; }
.mb3 { margin-bottom: 30px; }
.mb4 { margin-bottom: 40px; }
/*END my css reset*/

.content { width: 100%; overflow: hidden; }
.govmain { width: 1000px; overflow: hidden; padding: 0 100px; margin: 0 auto; background-color: #ccc; padding-bottom: 50px; }
.contentT1 { width: 100%; padding: 50px 0; text-align: center; color: #fff; font-size: 30px; font-weight: bold; }
.contentT2 { width: 100%; color: #fff; padding: 30px 0 10px 0; font-size: 20px; float: left; border-bottom: 1px solid #fff; margin-bottom: 20px; }

/*== Govlist ==*/
.gov-list-box { overflow: hidden; width: 100%; }
.gov-list-box li { position: relative; padding-left: 14px; height: 25px; line-height: 25px; }
.gov-list-dot { position: absolute; top: 11px; left: 0; display: block; width: 4px; height: 4px; background-color: #666; }
.gov-list-time { position: absolute; top: 0; right: 0; }
.gov-list-box li a:hover { text-decoration: underline; }
/*== END Govlist ==*/

/*== GovTitleBox ==*/
.gov-title-box { overflow: hidden; width: 100%; height: 40px; border-bottom: 1px solid #666; position: relative; }
.gov-title-text { font-size: 18px; font-weight: bold; }
.gov-title-more { position: absolute; top: 6px; right: 10px; }
/*== END GovTitleBox ==*/

/*== GovLink ==*/
.gov-link-box { float: left; position: relative; left: 50%; }
.gov-link-main { position: relative; left: -50%; }
.gov-link-box li { float: left; overflow: hidden; margin-top: 13px; margin-right: 20px; }
.gov-link-box a { position: relative; color: #333333; font-size: 14px; position: relative; display: block; padding-right: 20px; }
.gov-link-line { display: inline-block; width: 1px; height: 16px; background-color: #000; position: absolute; top: 3px; right: 0; }
.gov-link-box a:hover { color: orange; }
/*== END GovLink ==*/

/*== GovCurrentBox ==*/
.gov-curr-box { height: 30px; width: 100%; overflow: hidden; }
.gov-curr-box span, .gov-curr-box a { color: #333; font-size: 14px; }
.gov-curr-box a { display: inline; color: red; }
.gov-curr-box a:hover { color: orange; }
/*== END GovCurrentBox ==*/

/*== GovSearch ==*/
.gov-search-box { width: 325px; height: 36px; background-color: skyblue; position: relative; float: left; }
.gov-search-box input[type="text"] { width: 241px; height: 32px; border: 1px solid #c0c3ca; float: left; }
.gov-search-box input[type="button"] { width: 83px; height: 36px; border: none; position: absolute; top: 0; right: 0; color: #fff; font-size: 14px; cursor: pointer; background-color: #2d2f93; }
/*== END GovSearch==*/

/*== GovMNBox ==*/
.gov-subtitle-box { display: block; width: 100%; overflow: hidden; }
.gov-subtitle-title { color: #333; font-size: 24px; margin-bottom: 10px; font-weight: bold; display: block; }
.gov-subtitle-text { color: #666; margin-bottom: 10px; display: block; line-height: 30px; +line-height: 32px; text-indent: 2em; }
/*== END GovMNBox ==*/

/*== GovPicBox ==*/
.gov-pic-box { overflow: hidden; width: 350px; padding: 25px; border: 3px solid #fff; }
.gov-pic-link { display: block; float: left; width: 100px; min-height: 100px; margin: 0 25px 20px 25px; padding: 10px; background-color: #dbdbdb; }
.gov-pic-box img { display: block; width: 70px; height: 70px; margin: 0 auto; margin-bottom: 10px; background-color: #fff; }
.gov-pic-linktitle { display: block; overflow: hidden; width: 95%; text-align: center; }
/*== END GovPicBox ==*/

/*== GovLinkBut ==*/
.gov-pic-linkbutbox { overflow: hidden; width: 350px; padding: 25px; border: 3px solid #fff; }
.gov-pic-GeTx { display: block; width: 150px; height: 100px; line-height: 100px; border: 1px solid #a7a8d4; position: relative; cursor: pointer; margin-bottom: 10px; }
.gov-pic-GeTx span { line-height: 22px; display: inline-block; width: 64px; color: #2d2f93; font-size: 16px; vertical-align: middle; text-align: center; }
.gov-pic-GeTx img { float: left; margin: 35px 15px 0 20px; }
/*== END GovLinkBut ==*/

/*== GovListPic ==*/
.gov-listpic-box { overflow: hidden; width: 500px; border: 3px solid #fff; padding-top: 20px; }
.gov-listpic-box a { display: block; width: 300px; height: 60px; background-color: #a7a8d4; margin: 0 auto; margin-bottom: 20px; }
/*== END GovListPic ==*/

/*== Header Nav ==*/
.gov-nav-box { width: 100%; height: 50px; background-color: #006fff; overflow: hidden; }
.gov-nav-main { margin-left: 80px; }
.gov-nav-main li { float: left; margin-top: 12px; }
.gov-nav-line { width: 2px; height: 18px; background-color: #fff; display: inline-block; margin: 0px 50px; margin-bottom: -2px; +margin-bottom: 2px; }
.gov-nav-main .gov-nav-text { font-size: 20px; color: #fff; font-weight: bold; }
.gov-nav-text:hover { color: #00db00; }
/*== END Header Nav ==*/

/*== Header Nav unwith Line ==*/
.gov-navu-box { width: 100%; height: 50px; background-color: #006fff; overflow: hidden; }
.gov-navu-main { margin-left: 40px; }
.gov-navu-main li { float: left; margin-top: 12px; }
.gov-navu-main .gov-navu-text { font-size: 20px; color: #fff; font-weight: bold; margin: 0 50px; }
.gov-navu-text:hover { color: #00db00; }
/*== END Header Nav unwith Line ==*/

/*== govList_Float ==*/
.gov-listfloat-box { width: 100%; overflow: hidden; }
.gov-listfloat-box li { float: left; margin-right: 40px; white-space: nowrap; margin-bottom: 20px; }
/*== END govList_Float ==*/

/*govLogo*/
.gov-logo-box { display: block; width: 295px; height: 34px; position: relative; margin-top: 4px; }
.gov-logo-box img { position: absolute; top: 0; left: 0; }
.gov-logo-box span { position: absolute; top: 2px; left: 30px; color: #000; }
/*END govLogo*/


/*Tab ListBox*/
.gov_tablistbox { overflow: hidden; width: 100%; }
.gov_tablistline { position: relative; display: block; width: 100%; height: 24px; line-height: 24px; padding-left: 26px; }
.gov_tablistdot { position: absolute; top: 12px; left: 14px; display: block; width: 3px; height: 3px; background-color: #666; }
.gov_tablisttime, .gov_tablisttext { font-size: 12px; color: #000; }
.gov_tablisttext:hover { text-decoration: underline; color: #666; }
/*END Tab ListBox*/

.gov_picbox{width: 346px;height: 374px;}
.gov_llpic{width: 170px;height: 279px;}
.gov_linkpic{width: 170px;height: 89px;background-color: #f1f1f1;display: block;margin-bottom: 5px;}
.gov_linkpic:hover{width: 168px;height: 87px;background-color: #f2f6f8;display: block;border:1px solid #cfe4ee;}
.gov_linkpic img{display: block;margin: 0 auto;margin-bottom: 8px;padding-top: 14px;}
.gov_linkpic_text{font-size: 16px;color: #435360;text-align: center;display: block;}

/*Select box*/
.gov_footer_selectbox { width: 948px; height: 82px; }
select.gov_footer_select { font-size: 16px; height: 29px; margin-top: 30px; margin-right: 12px; padding-left: 5px; color: #3d3d3d; border: 1px solid #d4d4d4; border-radius: 2px; background-color: #fff; }
/*END Select box*/