@charset "UTF-8";
/*css reset*/
body{margin: 0 auto; background-color: #fff;font-family: "Microsoft YaHei UI","微软雅黑",\5FAE\8F6F\96C5\9ED1;font-size: 14px;color: #333;}
a,a:link,a:visited,a:hover{text-decoration: none;font-family: "Microsoft YaHei UI","微软雅黑",\5FAE\8F6F\96C5\9ED1;font-size: 14px;color: #333;}
ul,li,p,a{margin: 0;padding: 0;list-style: none;}
img{border:none;display: inline-block;}
.fl{float: left;}
.fr{float: right;}
/*END css reset*/

/*my css reset*/
iframe{margin: 0;padding: 0;display: block;}
h1,h2,h3,h4,h5,p,a,span{margin: 0;padding: 0;font-weight: normal;font-size: 14px;color: #333;}
.mbNo{margin-bottom: 0;}
.mb1{margin-bottom: 10px;}
.mb2{margin-bottom: 20px;}
.mb3{margin-bottom: 30px;}
.mb4{margin-bottom: 40px;}
.mb5{margin-bottom: 50px;}
.mb6{margin-bottom: 60px;}
/*END my css reset*/

/*Index Content*/
.govcontent{width: 100%; overflow: hidden;}
.govmain{width: 1000px; overflow: hidden; margin: 0 auto;}
.govbox{width: 100%;overflow: hidden;}
/*END Index Content*/
